/* Goofy borders around everything to help us see the layout. */
/** {
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
    } */

body {
   
}

/* flexbox mobile layout */

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.middle {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 10%;
    /*border: 1px solid black; */ 
}

/*don't display circles in mobile */
.circles {
    display: none;
}

/*styling */

html {
    background-color: #f9fafc;
    font-family: 'Open sans', sans-serif;
}

.navCompany, .name {
    color:#000;
}

.navCompany {
    font-size: 1rem;
    font-weight: bold;
    /* border: 1px solid black; */
    height: 30px;
}

.name {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #69696a;
    font-size: 1rem;
    /* border: 1px solid black; */
    height: 30px;
   
}

.button1, .button2 {
    color: #f9fafc;
    background-color: #000;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* adjust bottom button spacing */

.bottom {
    margin-top: 20px;
}

.info {
    border-left: solid #69696a;
    border-left-width: 2px;
    padding-left: 20px;
    color: #69696a
}

/*desktop and table version*/

@media only screen and (min-width: 480px) {

/* flexbox layout for desktop */

/*top layout*/
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.navCompany {
    width: 60%;
}

.button1, .button2 {
    width: 10%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*middle layout*/
.middle {
    display: flex;
    flex-direction: row;
     border: 1px solid black; 
}



.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black; 
}

/*need to display circles in mobile */
.circles {
    display: flex;
}

.circle1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
    /*float: right;
    position: relative;
    margin-right: 30px; */
    z-index: 0;
}

.circle2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    /*float: right;
    position: absolute;
    margin-left: 440px;
    margin-top: 100px; */
    z-index: 1;

}

.circle3 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
    /*float: right;
    position: absolute;
    margin-left: 250px;
    top: -30px; */
    z-index: 2;
}


}