/* flexbox mobile layout */

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.middle {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 10%;
}

/*don't display circles in mobile */
.circles {
    display: none;
}

/*styling */

html {
    background-color: #f9fafc;
    font-family: 'Open sans', sans-serif;
}

.navCompany, .name {
    color:#000;
}

.navCompany {
    font-size: 1rem;
    font-weight: bold;
    height: 30px;
}

.name {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #69696a;
    font-size: 1rem;
    height: 30px;
   
}

.button1, .button2 {
    color: #f9fafc;
    background-color: #000;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* adjust bottom button spacing */

.bottom {
    margin-top: 20px;
}

.info {
    border-left: solid #69696a;
    border-left-width: 2px;
    padding-left: 20px;
    color: #69696a
}

/*desktop and table version*/

@media only screen and (min-width: 480px) {

/* flexbox layout for desktop */

/*top layout*/
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navCompany {
    width: 50%;
}

.button1, .button2 {
    width: 10%;
}

.button1 {
    margin-right: 30px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*middle layout*/
.middle {
    display: flex;
    flex-direction: row;
    height: 600px;
    align-items: center;
}


.company {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 10px; 
}

.name {
    margin-bottom: 5px;
}

/* bottom layout */
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

/*need to display circles on desktop */
.circles {
    display: flex;
}

.circle1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
    position: absolute;
    right: 195px;
    bottom: 285px; 
    z-index: 0;
    order: 1;
}

.circle2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    position: absolute;
    right: 175px;
    bottom: 125px; 
    z-index: 1;
    order: 3; 

}

.circle3 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
    position: absolute;
    right: 300px;
    bottom: 150px;
    z-index: 2;
    order: 2; 
}


}